
html,body{
  height: auto;
  width: 100%;
  background: rgb(233,223,196);
  background: -moz-linear-gradient(left, rgba(233,223,196,1) 0%, rgba(233,223,196,1) 1%, rgba(237,227,200,1) 2%, rgba(237,227,200,1) 24%, rgba(235,221,195,1) 25%, rgba(233,223,196,1) 48%, rgba(235,221,195,1) 49%, rgba(230,216,189,1) 52%, rgba(230,216,189,1) 53%, rgba(233,219,192,1) 54%, rgba(230,216,189,1) 55%, rgba(230,216,189,1) 56%, rgba(233,219,192,1) 57%, rgba(230,216,189,1) 58%, rgba(230,216,189,1) 73%, rgba(233,219,192,1) 74%, rgba(233,219,192,1) 98%, rgba(235,221,195,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(233,223,196,1)), color-stop(1%,rgba(233,223,196,1)), color-stop(2%,rgba(237,227,200,1)), color-stop(24%,rgba(237,227,200,1)), color-stop(25%,rgba(235,221,195,1)), color-stop(48%,rgba(233,223,196,1)), color-stop(49%,rgba(235,221,195,1)), color-stop(52%,rgba(230,216,189,1)), color-stop(53%,rgba(230,216,189,1)), color-stop(54%,rgba(233,219,192,1)), color-stop(55%,rgba(230,216,189,1)), color-stop(56%,rgba(230,216,189,1)), color-stop(57%,rgba(233,219,192,1)), color-stop(58%,rgba(230,216,189,1)), color-stop(73%,rgba(230,216,189,1)), color-stop(74%,rgba(233,219,192,1)), color-stop(98%,rgba(233,219,192,1)), color-stop(100%,rgba(235,221,195,1)));
  background: -webkit-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
  background: -o-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
  background: -ms-linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
  background: linear-gradient(left, rgba(233,223,196,1) 0%,rgba(233,223,196,1) 1%,rgba(237,227,200,1) 2%,rgba(237,227,200,1) 24%,rgba(235,221,195,1) 25%,rgba(233,223,196,1) 48%,rgba(235,221,195,1) 49%,rgba(230,216,189,1) 52%,rgba(230,216,189,1) 53%,rgba(233,219,192,1) 54%,rgba(230,216,189,1) 55%,rgba(230,216,189,1) 56%,rgba(233,219,192,1) 57%,rgba(230,216,189,1) 58%,rgba(230,216,189,1) 73%,rgba(233,219,192,1) 74%,rgba(233,219,192,1) 98%,rgba(235,221,195,1) 100%);
  background-size: 120px;
  background-repeat: repeat;
}

.game-board{
	margin-left: auto;
    margin-right: auto;
    margin-top: 10vw;
    height: 450px;
    width: 442px;
    border: black solid;
    border-width: 30px;
    border-radius: 50%;
    overflow: hidden;
}

.quadrant {
    border-style: solid;
    border-color: black;
    border-width: 4px;
    display: inline-block;
    height: 218px;
    width: 217px;
    margin-left: -2px;
    margin-right: -2px;
    cursor: pointer;
}

.top, .bottom {
	margin-bottom: -5px;
}

.top-left {
  border-top-left-radius: 100%;
  border-left-width: 2px;
}

.top-right {
  border-top-right-radius: 100%;
  border-right-width: 2px;
}

.bottom-left {
  border-bottom-left-radius: 100%;
  border-left-width: 2px;
}

.bottom-right {
  border-bottom-right-radius: 100%;
  border-right-width: 2px;
}

.green {
	background: #00a74a;
}

.red {
	background:  #9f0f17;
}

.yellow {
	background: #cca707;
}

.blue {
	background: #094a8f;
}

.green:active {
	background: #25d473;
}

.red:active {
	background: #da2e38;
}

.yellow:active {
	background: #dec454;
}

.blue:active {
	background: #3677bd;
}

.switch-board {
    position: absolute;
    height: 225px;
    width: 221px;
    border: black solid;
    border-width: 12px;
    border-radius: 50%;
    margin-top: -345px;
    margin-left: 100px;
    overflow: hidden;
    background: #d2d2d2;
}

.switch-b-in {
	margin-top: 35px;
    margin-left: 35px;
}

.switch-b-in p {
    font-weight: bolder;
    font-size: 40px;
    margin: 0px;
}

.count-block {
	display: inline;
	float: left;
	margin-top: 20px;
}

.btn-block {
	display: inline;
    float: left;
    width: 50px;
    margin-top: 40px;
}


.btn-block span {
	font-weight: bold;
    font-size: 11px;
    margin-left: 8px;
    margin-bottom: 1px;
}

.count-block span{
    font-weight: bold;
    font-size: 11px;
    margin-left: 15px
}

.round-btn {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: red;
    border-radius: 100%;
    border: 4px solid #444;
    box-shadow: 0px 2px 3px #222;
    margin: auto;
    cursor: pointer;
}

.counting-block {
	border: black solid;
    border-width: 4px;
    border-radius: 10px;
    width: 55px;
    height: 40px;
    background: #32050C;
    color: rgba(255, 0, 0, 0.24);
    font-size: 38px;
    text-align: center;
}


.yellow {
	
	background: yellow;
}

.strict {
	margin-top: 5px;
}


.led {
    width: 10px;
    height: 10px;
    background-color: #32050C;
    border-radius: 100%;
    position: absolute;
    left: 125px;
    right: 0;
    margin: auto;
    border: 2px solid #222;
    top: 90px;
}

.label {
	display: inline-block;
    margin-left: 11px;
    margin-top: 11px;
}

.switch-slot {

    height: 20px;
    width: 40px;
    background-color: #222;
    position: relative;
    top: 5px;
    border-radius: 2px;
    cursor: pointer;
 
 }
  
.switch {
	
	height: 16px;
    width: 16px;
    border-radius: 4px;
    background-color: #3193DE;
    position: relative;
    border: 2px solid #333;

}

.switch-on {
	left: 20px;
}


.counting-on {
	
	color: red;
}

